argon2-cffi 
async-generator==1.10
attrs 
backcall 
backports.functools-lru-cache==1.6.1
bleach
blis==0.4.1
boto==2.49.0
boto3==1.7.62
botocore==1.10.62
brotlipy==0.7.0
cachetools
catalogue==1.0.0
certifi==2020.12.5
cffi 
chardet 
click 
colorama 
cryptography 
cymem 
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints 
filelock 
gensim==3.8.0
google-api-core 
google-auth 
google-cloud-core 
google-cloud-storage 
google-crc32c 
google-resumable-media 
googleapis-common-protos 
idna 
importlib-metadata 
ipykernel 
ipython 
ipython-genutils==0.2.0
jedi 
Jinja2 
jmespath 
joblib 
jsonschema==3.0.2
jupyter-client 
jupyter-core 
jupyterlab-pygments 
MarkupSafe 
mistune 
mkl-fft==1.2.0
mkl-random==1.2.0
mkl-service==2.3.0
multidict 
murmurhash 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
nltk
notebook 
numpy 
olefile==0.46
packaging 
pandocfilters==1.4.2
parso 
pexpect 
pickleshare 
Pillow 
plac 
preshed==3.0.2
prometheus-client
prompt-toolkit
protobuf==3.14.0
ptyprocess 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser 
Pygments 
pyOpenSSL 
pyparsing==2.4.7
pyrsistent 
PySocks 
python-dateutil 
pytz 
pyzmq==20.0.0
regex==2018.7.11
requests
rsa 
s3transfer==0.1.13
scikit-learn 
scipy 
Send2Trash==1.5.0
six 
smart-open
spacy
srsly
terminado
testpath==0.4.4
thinc 
threadpoolctl
torch==1.7.1
torchvision==0.8.2
tornado
tqdm 
traitlets 
typing-extensions 
urllib3 
wasabi 
wcwidth 
webencodings==0.5.1
yarl 
zipp